@{
    ViewBag.Title = "Home Page";
}

<div>
    <img src="~/Images/HomeImages/banner.jpg" />
</div>

<div class="row">
    <div class="col-md-4">
        <br />
        <h2>Get started</h2>
        <p>
            Please register an account to gain access to our Peer to Peer learning platform where you can ask questions as well as access questions and answers made by others.
            Using this platform,
            students can ask and answer questions, vote questions and answers, accept an answer, provide comments and
            gain participation ratings.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Register", "Account")">Register Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <br />
        <img src="~/Images/HomeImages/banner2.jpg" width="750" height="230" />
    </div>
</div>