
@{
    ViewBag.Title = "AssignRole";
}

<h2>Assign Role</h2>

@using (Html.BeginForm("AssignRole", "Admin", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6">
            <label class="control-label">UserName</label>
            <input type="text" name="txtUsername" class="form-control" />
        </div>
        <div class="col-md-6">
            <label class="control-label">Select Role</label>
            @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select...")
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <button type="submit" value="Submit" class="btn btn-primary">Assign</button>

            </div>
        </div>
    </div>
}


